@{
    ViewBag.Title = "Tables Page";
}

<link href="~/Content/Site.css" rel="Stylesheet" type="text/css" />

<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Areas", "Index", "Areas", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Brigades", "Index", "Brigades", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Cehs", "Index", "Cehs", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Eng. and technical professions", "Index", "EngTehProfs", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("EngTehWorkerProfs", "Index", "EngTehWorkerProfs", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Eng. and technical workers", "Index", "EngTehWorkers", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Planes", "Index", "Planes", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Products", "Index", "Products", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Professions", "Index", "Profs", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Rockets", "Index", "Rockets", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Test Equipments", "Index", "TestEquipments", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Testers", "Index", "Testers", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Test laboratories", "Index", "TestLabs", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("WorkerProfs", "Index", "WorkerProfs", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Workers", "Index", "Workers", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Works", "Index", "Works", null, new { @class = "btn my-padding btn-default btn-block btn-lg" })
    </div>
</div>