@model AviaBuildWeb.Models.EngTehWorkerProf

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EngTehWorkerProf</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartWorkDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartWorkDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngTehProf.EngTehProfName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngTehProf.EngTehProfName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngTehWorker.EngTehWorkerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngTehWorker.EngTehWorkerName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
