@model IEnumerable<AviaBuildWeb.Models.Worker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsBrigadier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brigade.IdBrigade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsBrigadier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brigade.IdBrigade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdWorker }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdWorker }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdWorker })
        </td>
    </tr>
}

</table>
